(Build)
(Output)
tmp
Debug
DebugXP
Release
ReleaseTest
ReleaseAlpha
ReleaseXP
ReleaseTestXP
ipch
*.suo
*.opensdf
*.sdf
*.user
*.aps
*.vc.*
/.vs
*.psess
*.vspx
*.vsp
*.VC.db
*.opendb
*.pdb
VERSION_DYN.h
version.tmp
/ERAEP_Installer/(OverrideFiles)
/ERAEP_Installer/(RuntimeFiles)
/ERAEP_Installer/(wix)